<section id="main">
  <div id="listings">
    <div id="search">
      <search bind-to="vm.search" label="Search"></search>
    </div>
    <div ng-repeat="listing in vm.listings | limitTo:9 | filter:vm.search">
    <div id="listing">
      <div>
        <img ng-src="{{ vm.pic }}" id="{{ listing.color }}" />
      </div>
      <div id="make">
        Make/Model: <span ng-if=!listing.make>Unknown</span>
      <span ng-if=listing.make>{{ listing.make }} {{ listing.model }}</span> <br />
      </div>
      <div id="details">
        Color: <span id="color"> {{listing.color}} </span> <br />
      </div>
    </div>
  </div>
</section>