@import 'jeet'

#main
  center(960px)
  #listings
    padding-top 75px
  img
    height 90px
  #color
    text-transform: capitalize
  
  #listing
    margin-bottom 10px
    position relative
    // col(1/3, 0, 3)
    
  #make
    position relative
    bottom 75px
  #bodyColor
    position relative
    left 94px
    bottom 75px
  #trim
    position relative
    left 94px
    bottom 75px

  #burgundy
    background #8C001A
  #silver
    background #C0C0C0
  #blue
    background #000099
  #green
    background #005900
  #purple
    background #590059
  #black
    background #000000
  #gold
    background #ccac00
  #gray
    background #666
  #brown
    background #310c0c