@import 'jeet'

#main
  center(960px)
  #listings
    padding-top 100px

  #color
    text-transform: capitalize
    
  #search
    position relative
    bottom 13px
    center(430px)
  
  #searchLabel 
  .button
    color #08AD43
    
  .button
    border solid #08AD43 2px
    border-radius 5px
    cursor pointer
    padding 3px

  #button
    display inline
    margin-top 2px

  .listing
    img
      height 75%
    margin-bottom 15px
    position relative
    height 200px
    box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    col(1/3, 0, 3)
    .ng-enter
      transition 0.5s linear all
      opacity 0
    .ng-leave
      opacity 1
  #details
    position relative
    left 15px
    top -24px
    font-size .8rem
    text-overflow ellipsis

  #burgundy
    background #8C001A
  #silver
    background #C0C0C0
  #blue
    background #000099
  #green
    background #005900
  #purple
    background #590059
  #black
    background #000000
  #gold
    background #ccac00
  #gray
    background #666
  #brown
    background #310c0c