<section id="main">
  <div id="listings">
    <div id="search">
      <search bind-to="vm.search" label="Search"></search>
      <button ng-click=vm.nextPage()>Next Page</button>
    </div>
    <div ng-repeat="listing in vm.listings | limitTo:9 | filter:vm.search">
    <div id="listing">
      <div>
        <img ng-src="{{ vm.pic }}" id="{{ listing.color }}" />
        <span id="make">
          Make/Model: <span ng-if=!listing.make>Unknown</span>
                      <span ng-if=listing.make>{{ listing.make }} {{ listing.model }}</span> <br />
        </span>
        <span id="bodyColor">
          Color: <span id="color"> {{listing.color}} </span> <br />
        </span>
        <span id="trim" ng-if=listing.body >
          Body/Trim: <span ng-if=listing.body>{{ listing.body }} {{ listing.trim }}</span>
        </span>
      </div>
    </div>
  </div>
</section>