<section id="main">
  <div id="listings">
    <div id="search">
      <input ng-model="vm.query" ng-change="vm.filters(vm.query)" /> 
      <span id="searchLabel">Search</span>
      <span class="button" ng-click=vm.previousPage()>Prev Page</span>
      <span class="button" ng-click=vm.nextPage()>Next Page</span>
    </div>
    <div>
    <div ng-repeat="listing in vm.listings | limitTo:9" class="listing">
      <div>
        <img ng-src="{{ vm.pic }}" id="{{ listing.color }}" />
        <div id="details">
        <span id="make">
          Make/Model: <span ng-if=!listing.make>Unknown</span>
                      <span ng-if=listing.make>{{ listing.year }} {{ listing.make }} {{ listing.model }}</span> <br />
        </span>
        <span id="bodyColor">
          Color: <span id="color"> {{listing.color}} </span> <br />
        </span>
        <span id="trim" ng-if=listing.body >
          Body/Trim: <span ng-if=listing.body>{{ listing.body }} {{ listing.trim }}</span>
        </span>
        </div>
      </div>
    </div>
  </div>
</section>