@import 'jeet'

#app
  header nav
    height 70px
    background-color lightgrey
    position fixed
    min-width 100%
    z-index 1000
    #logo
      span(1/8)
      color #08AD43
      font-size 1.8rem
      cursor pointer
    #logoPic
      height 60px
      margin 5px auto auto 5px
    #links
      span(2/8, 5/8, 2)
      margin-top: 1%
      a
        color #08AD43
        text-decoration none
        font-size 1.3rem
        &:hover
        &:active
          text-decoration none
        :visited
          color #08AD43
        border solid #08AD43 2px
        border-radius 5px
        padding 5px
        margin-top 25px
    